$primary-color: #4b0082;         
$bg-color: rgba(248, 248, 254, 0.85); 
$border-color: rgba(251, 249, 253, 0.5); 
$hover-color: #cda4f7;            
$btn-bg: rgba(230, 230, 250, 0.6); 
$btn-hover-bg: rgba(210, 200, 245, 0.8);

body {
  padding-top: 60px;
}

.navbar-cont {
  background: $bg-color;
  padding: 12px 30px;
  position: fixed;
  width: 96%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(4px); 

  .nav-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    

    .navbar-collapse {
      display: flex !important;
      justify-content: space-between;
      width: 100%;

      .nav-left,
      .nav-right {
        display: flex;
        align-items: center;
        gap: 20px;

        .nav-item {
          text-decoration: none;
          color: $primary-color;
          font-weight: 500;
          font-size: 25px;
          padding: 6px 12px;
          transition: all 0.3s ease;

          &:hover {
            color: $hover-color;
            transform: scale(1.05);
          }

          &.card-btn {
            background: $btn-bg;
            color: $primary-color;
            border-radius: 8px;
            padding: 6px 12px;
            transition: all 0.3s ease;

            &:hover {
              background: $btn-hover-bg;
              color: $primary-color;
              transform: scale(1.05);
            }
          }

          svg {
            font-size: 1.3rem;
          }
        }
      }
    }
  }
}
//responsive
 
@media (max-width: 991px) {
  .navbar-cont {
    .navbar-collapse {
      flex-direction: column !important;
      .nav-left,
      .nav-right {
        flex-direction: column;
        gap: 10px;
        margin: 10px 0;
      }
    }
  }
}
